{% extends 'base.html' %}

{% block content %}
<!-- dashboard.html -->
<h2>Dashboard</h2>
<table>
    <tr>
        <th>Category</th>
        <th>Amount</th>
        <th>Currency</th>
        <th>Date</th>
    </tr>
    {% for expense in expenses %}
    <tr onclick="window.location.href='{% url 'expense' expense.id %}'" style="cursor: pointer;">
        {% csrf_token %}
        <td>{{ expense.category }}</td>
        <td>{{ expense.amount }}</td>
        <td>{{ expense.currency }}</td>
        <td>{{ expense.expense_date}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
